.exe
.venv

# Ignore Build Files for Latex
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.bbl-SAVE-ERROR
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.lof
*.lot
*.idx
*.ind
*.ilg
*.glo
*.gls
*.ist

